.header__logo {
  max-width: 142px;
  max-height: 33px;
}
@media screen and (max-width: 925px) {
  .header__logo {
    margin-left: 27px;
  } 
}
@media screen and (max-width: 650px) {
  .header__logo {
    margin-left: 20px;
    margin-bottom: 33px;
    max-width: 103.74px;
    max-height: 24.4px;
  } 
}