.header__email{
    font-family: 'inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0 24px 0 0;
}
@media screen and (max-width: 465px) {
    .header__email{
        margin: 0 ;
        font-size: 14px;
    }
}