.popup__button-save {
  font-family: 'inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  /* margin-top: 18px; */
  padding: 0;
  background-color: #000;
  color: #fff;
  max-width: 358px;
  min-height: 50px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  border: none;
}
@media screen and (max-width: 650px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 3px;
    max-width: 238px;
    min-height: 46px;
  }
}
.popup__button-save:hover {
  opacity: 0.8;
}