.profile__button-add {
  all: initial;
  background-image: url(../../../images/AddButton.svg);
  background-color: transparent;
  background-position: center;
  border: 2px solid white;
  border-radius: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  min-width: 150px;
  min-height: 50px;
  transition: opacity 0.3s linear;
  margin-left: auto;
}
@media screen and (max-width: 650px) {
  .profile__button-add {
    min-width: 282px;
    background-size: 16px 16px;
    margin: 0;
  }
}
.profile__button-add:hover {
  opacity: 0.6;
}